
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
}
.page{   
    /* width: 100%; */
    font-family: sans-serif;
    background-color: rgb(46, 45, 45);
    /* position:absolute; */

}
#loader{
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    font-size:60px;
    background-color:black; 
    z-index: 10000;
    transition: all 5s; 
    position: fixed;
}
.ploader{
    text-align: center;
    position: absolute;
    padding:15% 40%;
    text-align: center;
    font-size:60px;
    color: rgb(221, 127, 4); 
} 
.tittle{
    padding:5% 0%;
    margin: 0px;
    font-size:60px;
    color: rgb(221, 127, 4); 
    text-align: center;
}
.image{
    padding: 0% 28%;
}
.phrase{
    
    padding: 5% 0%;
    text-align: center;
    font-size: 40px;
    color:rgb(228, 143, 33);
}
.input{
    /* width: 50%; */
    height:30px;
    font-size: 20px;
}
.parts{
    text-align: center;
    
}
.btn{
   border: 5px;
   border-style: solid;
   border-color: white;
   background-color: white;
   width: 400px; 
   height: 250px;
}

.btn:hover{
    opacity: .5;
}
.modal{
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    height:100%;
    width:100%;
    overflow:auto;
    background-color:rgb(0,0,0,0.5);
}

.infoModal{
    background-color:white;
    margin: 20% auto;
    padding: 30px;
    width:70%;
   
}

.closeBtn{
    color:gray;
    float:right;
    font-size: 30px;

}
.closeBtn:hover{
    color: black;
    cursor: pointer;
}
.name{
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .tittle{
    
        font-size:30px;
        
    }
    .phrase{
        
        padding: 0;
        font-size: 20px;
        
    }
    .parts{
        padding: 0;
        text-align: center
        
    }
    .btn{
        border: 1px;
        width: 180px; 
        height: 70px;
    }
    
    
    .infoModal{
        
        margin: 10%;
        padding: 10%;
        width:100%;
        font-size: 10px;
    }
    
    .closeBtn{
        color:gray;
        float:right;
        font-size: 20px;
    
    }
    
}
/* 768 */
@media only screen and (max-width: 768px) {
    .image{
        width: 300px;
    }
}
/* 640 */
@media only screen and (max-width: 640px) {
    
}
/* pixel 2 411 */
@media only screen and (max-width: 420px) {
    
}
/* LG 384 */
@media only screen and (max-width: 390px) {
    .image{
        width: 300px;
        padding:0% 0% 0% 12%;
        text-align: center
    }
    .ploader{
        padding:15% 20%;
        font-size:40px;
    } 
    .input{
        padding:0% 5% 0% 0%;
        width: 40%;
        height:30px;
        font-size: 20px;
        text-align: center;
    }
    .infoModal{
        background-color:white;
        margin: 20% 15%;
        padding: 30px;
        width:70%;
       
    }
    .imgModal{
        width: 200px;
        height: 150px;
    }
    .btn{
        border: 1px;
        width: 150px; 
        height: 70px;
    }
    .parts{
        padding: 0px;
        /* text-align: center */
        
    }

}
/* iphone 320*/
@media only screen and (max-width: 320px) {
    .image{
        width: 100px;
        padding: 0%;
    }
    .ploader{
        padding:15% 28%;
        font-size:40px;
    } 
}


